# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**/*.swift"
      - ".github/workflows/build-swift.yml"
      - "gen-swift-bindings.sh"

name: Build Swift
jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    runs-on: macos-26
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Build Swift
        run: bash gen-swift-bindings.sh

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25

      - name: Run go generate
        run: go generate ./...

      - name: Commit changes and create PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --global user.name "GitHub Actions"
          git add internal/cryptokit/CryptoKit*.syso
          git add internal/cryptokit/zcryptokit_swift_*.go
          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi
          git commit -m "Update CryptoKit Object files"
          BRANCH=autogen/update-cryptokit-obj-$(date +%s)
          git checkout -b $BRANCH
          git push origin $BRANCH
          gh pr create --fill --base main --head $BRANCH
