# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

on:
  workflow_dispatch:
  pull_request:
    types: [labeled]
  push:
    branches:
      - main
    paths:
      - "**/*.swift"
      - ".github/workflows/build-swift.yml"
      - "gen-swift-bindings.sh"

name: Build Swift
jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.label.name == 'generate-bindings'
    permissions:
      contents: write
      pull-requests: write
      actions: write
    runs-on: macos-26
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || '' }}

      - name: Build Swift
        run: bash gen-swift-bindings.sh

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25

      - name: Run go generate
        run: go generate ./...

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --global user.name "GitHub Actions"

          git add internal/cryptokit/CryptoKit*.syso
          git add internal/cryptokit/zcryptokit_swift_*.go

          if [ "${{ github.event_name }}" == "pull_request" ]; then
            git add internal/cryptokit/zcryptokit.h
            COMMIT_MSG="Regenerate bindings"
          else
            COMMIT_MSG="Update CryptoKit Object files"
          fi

          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git commit -m "$COMMIT_MSG"

          if [ "${{ github.event_name }}" == "pull_request" ]; then
            git push
            echo "Triggering test workflow..."
            gh workflow run test.yml --ref ${{ github.head_ref }}
          else
            BRANCH=autogen/update-cryptokit-obj-$(date +%s)
            git checkout -b $BRANCH
            git push origin $BRANCH
            gh pr create --fill --base main --head $BRANCH
          fi
